.container-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: center;
    padding: 30px;
}

.container-cart .resumen {
    display: block;
    line-height: 35px;
}

.container-empty {
    display: grid;
    place-items: center;
    text-align: center;
    height: 70vh;
}

.container-empty h4 {
    font-size: 22px;
}

.container-empty img {
    height: 120px;
}

.cart-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 15px;
    gap: 20px;
    width: auto;
}

.cart-detail img {
    height: 200px;
}

.cart-detail h5 {
    font-size: 15px;
}

.cupon input {
    font-size: 22px;
    height: 30px;
    width: 190px;
    font-weight: 600;
}

.cupon input:focus {
    background-color: black;
    color: white;
}

.boton-fn {
    text-align: center;
    font-size: 18px;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgb(255, 179, 39);
    color: black;
}

/* .cart-detail span{
    position: absolute;
} */

/* .cart-detail:hover {
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    filter: opacity(30%);
} */

@media(max-width: 992px) {

    .container-cart {
        flex-direction: column;
    }

    .container-detail {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .cart-detail {
        width: 160px;
        padding: 0;
    }

    .cart-detail img {
        height: 80px;
    }
}