@media (min-width: 1200px) {
    .containers {
        text-align: center;
        overflow: hidden;
    }

    .containers .container-banner {
        background-image: url("/public/images/banner.jpg");
        background-position:right;
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
        display: flex;
        align-items: center;
        background-attachment: fixed;
    }

    @keyframes slide {
        0%{
            transform: scale(1.5);
        }
    }

    .containers .container-banner .banner-logo{
        height: 300px;
        margin: 0px 30px;
        animation: slide 2s;
        margin: 0px 60px;
        position: relative;
    }

    .containers .container-video {
        background-color: black;
    }

    .containers .container-video video {
        height: 720px;
        transition: all 0.3s ease-in-out;
        filter: grayscale(50%);
    }
}

@media (min-width: 0px) and (max-width: 480px) {
    .containers .container-banner {
        background-image: url("/public/images/banner.jpg");
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        height: 200px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .containers .container-banner .banner-logo{
        height: 120px;
    }

    .containers .container-video {
        background-color: black;
    }

    .containers .container-video video {
        height: 220px;
        transition: all 0.3s ease-in-out;
        filter: grayscale(50%);
        width: 100%;
    }
}