.button {
    margin: 10px;
    width: 48px;
    border-radius: 15px;
    padding: 5px;
    border: black solid 1px;
    cursor: pointer;
    font-size: 10px;
}

.button:hover {
    background-color: black;
    color: white;
}