.i-carrito {
    color: white;
    display: flex;
    align-items: start;
    text-align: center;
    position: absolute;
    top: 50px;
    right: 50px;
}

.bi {
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.i-carrito img {
    height: 30px;
    cursor: pointer;
    color: black;
}
.i-carrito .null {
    width: 22px;
    height: 22px;
    padding: 3px;
    border-radius: 50%;
    background-color: black;
    font-size: 15px;
}

.i-carrito .red {
    background-color: red;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 3px;
    animation: sliders .3s ;
    font-size: 15px;
}

@keyframes sliders {
    0% {
        transform: scale(1.3);
    }
}

@media (max-width: 992px) {

    .i-carrito {
        top: 30px;
        right: 12px;
    }
}