.itemListContainer {
    text-align: center;
}

.container-loading {
    height: 85vh;
    background-image: url("https://media.tenor.com/BtC0jVjzYToAAAAC/loading-chain.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}