.container-filter {
    padding: 15px;
}

@media (min-width: 992px) {

    .container-filter {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .filter-buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .form-control {
        width: 50%;
    }
}

@media (max-width: 480px) {

    .container-filter {
        padding: 15px;
    }

    .form-control {
        width: 100%;
    }

    .filter-buttons {
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 15px;
    }

    .dropdown {

    }
}