@media (min-width: 992px) {

    .item {
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 7px;
    }

    .link {
        color: black;
        text-decoration: underline;
    }

    .item:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        transition: all ease-in-out .3s;
    }

    .item img {
        height: 320px;
        width: 240px;
        object-fit: contain;
    }

    .item img:hover {
        transform: scale(0.95);
        transition: all ease-in-out .4s;
    }
}

@media (max-width: 480px) {

    .item img {
        height: 180px;
        width: 180px;
        object-fit: contain;
    }

    .link {
        color: black;
        text-decoration: underline;
    }
}