.navbar-title {
    font-size: 55px;
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
}

.navbar-title:hover {
    animation: animations 2s;
}

.collapse {
    display: flex;
    justify-content: center;
}

.nav-link {
    font-size: 22px;
}

.active {
    background-color: black;
    color: white !important;
    border-radius: 7px;
}

@media (max-width: 480px) {

}