@keyframes animations {
    0% {
        transform: scale(1.2);
    }

    25% {
        transform: scale(0.7);
    }
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 12px;
}

.navbar h1 {
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.navbar h1:hover {
    animation: animations 2s;
}

.navbar-list {
    display: flex;
    gap: 25px;
}

.navbar-list li {
    border-radius: 5px;
    background-color: black;
    color: white;
    border: black solid;
    cursor: pointer;
}

.navbar-list li a{
    font-size: 13px;
}

.navbar-list li a:hover {
    text-decoration: overline;
}