.navbar-title {
    font-size: 55px;
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
}

.navbar-title:hover {
    animation: animations 2s;
}

@media (max-width: 480px) {

}