@media (min-width: 1200px) {
    .footer-i {
        background-color:#d8d89b;
        border-top: black solid 2px;
    }

    .container-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .redes {
        background-color:#84844b;
        text-align: center;
        padding: 10px;
    }

    .bancos .i-banco {
        height: 50px;
        width: 50px;
        margin: 0px 10px;
    }

    .redes .redes-item {
        height: 40px;
        margin: 0px 15px;
        cursor: pointer;
    }

    .redes .redes-item:hover {
        transform: scale(1.1);
    }

    .copyright {
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
        font-weight: 100;
        margin: 0 0 0;
    }
}

@media (max-width: 480px) {
    .footer-i {
        background-color: #d8d89b;
        text-align: center;
    }

    .container-footer {
        padding: 20px;
    }

    .container-footer .bancos {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .container-footer .bancos .i-banco {
        height: 25px;
    }

    .horarios {
        margin: 20px 0px;
    }

    .redes {
        background-color: #84844b;
    }

    .redes .redes-item {
        margin: 0px 10px;
        height: 50px;
        padding: 7px;
    }

    .copyright {
        background-color: black;
        color: white;
        padding: 5px;
        font-size: 17px;
    }
}