.container-count {
    display: flex;
    justify-content: space-evenly;
}

.counter {
    display: flex;
    gap: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls .number{
    font-size: 30px;
    width: 60px;
}

.button {
    padding: 10px;
    font-size: 20px;
    margin: 0px 7px;
    cursor: pointer;
    background-color: rgb(255, 179, 39);
    border: white solid;
    border-radius: 7px;
}

.button:hover {
    background-color: rgb(252, 167, 10);
}