.container-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding: 40px;
}

@media (max-width: 720px) {

    .container-item {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        padding: 12px;
    }
}